<table>
     <tr>
     <tr>
          <th>policy id</th>
          <th>Policy number</th>
          <th>Amount</th>
          <th>userId</th>
          <th>clinetId</th>
          <th>Description</th>

     </tr>
     <tr>
          <td>{{policyinfo?.id}}</td>
          <td>{{policyinfo?.num}}</td>
          <td>{{policyinfo?.amount}}</td>
          <td>{{policyinfo?.userId}}</td>
          <td>{{policyinfo?.clientId}}</td>




     </tr>
</table><br><br>
<button><a [routerLink]="['/plist']">Back</a></button>