
<!-- <app-user [val]="data"></app-user>

<div   *ngFor="let i of data">
  <app-user [val]="i"></app-user>
</div>
<router-outlet></router-outlet> -->
<!-- <h3>Pass data from Parent in child component using @Input</h3>
<!-- <app-child [data]="myString"[stud]="student"></app-child> -->
<!-- <div class="container" *ngFor="let i of student1">
  <app-child [stud1]="i"></app-child>

</div> --> -->

 <h3>Pass data from Parent in child component using @Output</h3>
<!-- <app-child (fun)="showfun($event)"></app-child> -->
<!-- <h4>{{val}}</h4>
<ul style="list-style-type:none ">
   <li>{{val.id}}</li>
    <li>{{val.pname}}</li>
  <li>{{val.sal}}</li> --> 



<!-- </ul> -->