
<h1 class="text-danger bg-info text-center"> Insurance Policy web memory API Example </h1>
<input type="search" #box> nbsp;&nbsp;
<button (click)="fun(box.value)">Search Policy</button><br><br>

<table border=3 cellpadding=4 width="800px" align="center">
     <tr>
          <th>id</th>
          <th>num</th>
          <th>amount</th>
          <th>userId</th>
          <th>clientId</th>
          <th>Description</th>


     </tr>
     <tr *ngFor="let i of policies">
          
          <td>{{i.id}}</td>
          <td>{{i.num}}</td>
          <td>{{i.amount}}</td>
          <td>{{i.userId}}</td>
          <td>{{i.clientId}}</td>
          <td>{{i.description}}</td>
     
     <td><button>Delete</button></td>
     <td><button>Update</button></td>
</tr>
</table>
<div style="margin: ;:auto;width: 300px;">
<a href="" routerLink="['/add']"><b>Add new Policy</b></a></div>